header {
    height: 100vh;
    background-color: #FF5757;
}

body {
    font-family: 'DM Sans', Helvetica, sans-serif;
    color: white;
    font-size: 16px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.logo-img {
    margin-left: 5em;
    width: auto;
    height: 5em;
}

.menu {
    padding: 4em 4em  0 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-title {
    display: flex;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
}

.menu-links li {
    margin-left: 3em;
}

.menu-links a {
   color: #FFFFFF;
   font-weight: 700;
   
}

.menu-links a:hover {
    color: #B51414;
    font-weight: 700;
    border-bottom: 2px solid #B51414;
    padding-bottom: 0.1em;
 }

.menu-icons {
    display: flex;
    justify-content: space-between;
}

.menu-icons li {
    margin-left: 1em;
}

.menu-icons a i {
    color: #FFFFFF;
}

.menu-icons a:hover i {
    color: #B51414;
}

.main-info {
    padding: 2em 4em 0 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-info h1 {
    font-size: 40px;
    font-weight: 700;
}

.main-info-text {
    flex-basis: 30em;
    line-height: 1.5;
}

.main-info-text p {
    line-height: 2;
}

.button {
    display: inline-block;
    font-weight: 700;
    padding: 15px 40px;
    color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    transition: 0.2s;
    border-radius: 40px;
    position: relative;
    margin-top: 1em;
}

.button:hover {
    color: #B51414;
}

.main-info .main-info-img-celular {
    max-width:auto;
    max-height:30em;
    width: auto;
    height: auto;
}

.about-box h2 {
    padding: 4em 0 0 0;
    font-weight: 700;
    color: #000000;
    font-size: 2em;
    text-align: center;
}

.about-box p {
    line-height: 2;
}

.about-info {
    padding: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000000;
    text-align: center;
}

.about-info h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 700;
}

.about-icons {
    height: 100px;
    text-align: center;
    width: auto;
}

.about-info div {
    flex-basis: 20em;
}

.cadastro {
    color: #000000;
    background-color: #FF5757;
    padding: 4em;
}

.cadastro h2 {
    padding-bottom: 0.5em;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 2em;
    text-align: center;
}

.cadastro p {
    color: #FFFFFF;
    text-align: center;
    line-height: 2;
}

.cadastro-form {
    text-align: center;
}

.cadastro-form input {
    padding: 1em;
    margin: 1em;
    width: 30em;
    border: none;
    border-radius: 20px;
}

.cadastro-form button {
    display: inline-block;
    font-weight: 700;
    padding: 15px 40px;
    color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 1px;
    transition: 0.2s;
    border-radius: 40px;
    position: relative;
    margin-top: 1em;
    background-color: #FF5757;
}

.cadastro-form button:hover {
    color: #B51414;
}

.faq {
    color: #000000;
    padding: 4em;
}

.faq h2 {
    padding-bottom: 0.5em;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.faq details {
    border-radius: 8px;
    width: 100%;
    display: block;
    border: none;
    border: 1px solid #eee;
    padding: 2em;
    margin-top: 0.5em;
}

.faq details p {
    padding: 0.5em;
    margin-top: 0.2em;
    line-height: 1.5em;
}

footer {
    height: 15em;
    background-color: #F4F4F6;
    text-align: center;
    width: 100%;
    padding: 4em 0 0 0;
    line-height: 2;
}
 
.navbarfooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer a {
    color:  #6B6A6A;
}

footer a:hover {
    color: #000000;
}

.scroll-top {
    background-color: #FF5757;
    width: 50px;
    height: 50px;
    line-height: 50px;
    bottom: 30px;
    right: 30px;
    color: #FFFFFF;
    position: fixed;
    border-radius: 10px;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.scroll-top:hover {
    background-color: #B51414;
}